In [1]:
import pandas as pd
clebs = pd.read_csv('Top1M_MidList.Name.tsv', delimiter="\t")
c = clebs['Name'].str.split("@", n=1, expand=True)
clebs['Name'] = c[0]
clebs['Language'] = c[1]
clebs = clebs[clebs['Language'] == 'en']
clebs.head(n=15)

            Id                            Name Language
0   m.01008l47                 Patrick Cummins       en
2   m.01008l96                Mohamed Guessous       en
5   m.01008lnk               Tsvetta Kaleynska       en
10  m.01008lp2  Caio Henrique Siqueira Sanchez       en
13  m.01008nqj              Julio Ríos Gallego       en
15  m.01008nrf  Nilson Ricardo da Silva Júnior       en
21  m.01008t1y              Alexei Starobinsky       en
26  m.01008tlv              Hilda Rix Nicholas       en
28  m.01008znx                Behrouz Makvandi       en
31  m.010095lb                 Borislav Terzić       en
34  m.010096_j               Lukas Klostermann       en
36  m.01009pkh                   Uroš Drenović       en
39  m.0100_6n3         Poongothai Chandrahasan       en
41  m.0100_lsp                     Tae-hwa Eom       en
43  m.0100_p_b                Antonino Bologna       en

In [2]:
filter_name = ['Jake Gyllenhaal', 'Christian Bale', 'Robert Downey Jr.', 'Leonardo DiCaprio', 'Tom Cruise', 
               'Brad Pitt', 'Tom Hanks', 'Hugh Jackman', 'Matt Damon', 'Will Ferrell', 
               'Natalie Portman', 'Scarlett Johansson', 'Anne Hathaway', 'Keira Knightley', 'Rachel McAdams'
               , 'Megan Fox', 'Sandra Bullock', 'Kate Beckinsale', 'Jennifer Aniston', 'Emma Stone']

In [25]:
filtered = clebs[clebs['Name'].isin(filter_name)]
filtered.head()

              Id               Name Language
58415   m.0169dl         Matt Damon       en
62738   m.016z2j  Robert Downey Jr.       en
70122   m.018grr       Will Ferrell       en
123531  m.01l2fn    Keira Knightley       en
155551  m.01pk8v    Kate Beckinsale       en

In [13]:
ids = filtered['Id'].values

In [15]:
facesUrl = pd.read_csv('images.tsv', delimiter='\t', error_bad_lines=False)

In [16]:
facesUrl.head()

         Id                                              Image
0  m.0169dl  /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAQCAwMDAgQDAw...
1  m.0169dl  /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAQCAwMDAgQDAw...
2  m.0169dl  /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAQCAwMDAgQDAw...
3  m.0169dl  /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAQCAwMDAgQDAw...
4  m.0169dl  /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAQCAwMDAgQDAw...

In [20]:
facesUrl = facesUrl[facesUrl['Id'].isin(ids)]

In [24]:
facesUrl.head()

         Id                                              Image
0  m.0169dl  /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAQCAwMDAgQDAw...
1  m.0169dl  /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAQCAwMDAgQDAw...
2  m.0169dl  /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAQCAwMDAgQDAw...
3  m.0169dl  /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAQCAwMDAgQDAw...
4  m.0169dl  /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAQCAwMDAgQDAw...

In [26]:
clebs = facesUrl.merge(filtered, how='left', left_on='Id', right_on='Id')

In [28]:
clebs.drop(columns =['Language', 'Id'], inplace=True)

In [31]:
clebs.to_csv('images.csv', index=False)