In [1]:
import pandas as pd
clebs = pd.read_csv('Top1M_MidList.Name.tsv', delimiter="\t")
c = clebs['Name'].str.split("@", n=1, expand=True)
clebs['Name'] = c[0]
clebs['Language'] = c[1]
clebs = clebs[clebs['Language'] == 'en']
clebs.head(n=15)

            Id                            Name Language
0   m.01008l47                 Patrick Cummins       en
2   m.01008l96                Mohamed Guessous       en
5   m.01008lnk               Tsvetta Kaleynska       en
10  m.01008lp2  Caio Henrique Siqueira Sanchez       en
13  m.01008nqj              Julio Ríos Gallego       en
15  m.01008nrf  Nilson Ricardo da Silva Júnior       en
21  m.01008t1y              Alexei Starobinsky       en
26  m.01008tlv              Hilda Rix Nicholas       en
28  m.01008znx                Behrouz Makvandi       en
31  m.010095lb                 Borislav Terzić       en
34  m.010096_j               Lukas Klostermann       en
36  m.01009pkh                   Uroš Drenović       en
39  m.0100_6n3         Poongothai Chandrahasan       en
41  m.0100_lsp                     Tae-hwa Eom       en
43  m.0100_p_b                Antonino Bologna       en

In [12]:
filter_name = ['Johnny Depp', 'Jim Carrey', 'Robert Downey Jr.', 'Leonardo DiCaprio', 'Tom Cruise', 'Brad Pitt', 
               'Tom Hanks', 'Hugh Jackman', 'Matt Damon', 'Mark Wahlberg', 'Jackie Chan', 'Will Ferrell',  
               'Emma Watson', 'Natalie Portman', 'Scarlett Johansson', 'Anne Hathaway', 'Keira Knightley', 
               'Halle Berry', 'Megan Fox', 'Sandra Bullock', 'Drew Barrymore', 'Kate Beckinsale', 
               'Jennifer Aniston', 'Emma Stone', 'Rachel McAdams', 'Jake Gyllenhaal', 'Christian Bale', 
               'Zach Galifianakis', 'Owen Wilson']

In [13]:
filtered = clebs[clebs['Name'].isin(filter_name)]

In [16]:
facesUrl = pd.read_csv('Faces.csv', error_bad_lines=False)

b'Skipping line 199402: expected 2 fields, saw 3\nSkipping line 207353: expected 2 fields, saw 3\n'
b'Skipping line 364330: expected 2 fields, saw 3\nSkipping line 469382: expected 2 fields, saw 3\n'
b'Skipping line 539610: expected 2 fields, saw 3\nSkipping line 598983: expected 2 fields, saw 3\nSkipping line 606085: expected 2 fields, saw 3\n'
b'Skipping line 820015: expected 2 fields, saw 3\nSkipping line 1025364: expected 2 fields, saw 6\n'
b'Skipping line 1059174: expected 2 fields, saw 5\nSkipping line 1283828: expected 2 fields, saw 3\n'
b'Skipping line 1389087: expected 2 fields, saw 3\n'
b'Skipping line 1655640: expected 2 fields, saw 5\nSkipping line 1727966: expected 2 fields, saw 3\nSkipping line 1768550: expected 2 fields, saw 3\n'
b'Skipping line 1845189: expected 2 fields, saw 8\nSkipping line 1999655: expected 2 fields, saw 3\nSkipping line 2020638: expected 2 fields, saw 3\nSkipping line 2086739: expected 2 fields, saw 5\n'
b'Skipping line 2119410: expected 2 fields, saw 6\nSkipping line 2169028: expected 2 fields, saw 5\n'
b'Skipping line 2803032: expected 2 fields, saw 3\nSkipping line 2803033: expected 2 fields, saw 3\nSkipping line 2867253: expected 2 fields, saw 3\n'
b'Skipping line 2903199: expected 2 fields, saw 3\nSkipping line 2903209: expected 2 fields, saw 3\nSkipping line 2920533: expected 2 fields, saw 3\nSkipping line 2994413: expected 2 fields, saw 4\nSkipping line 3001554: expected 2 fields, saw 3\nSkipping line 3127711: expected 2 fields, saw 4\n'
b'Skipping line 3305221: expected 2 fields, saw 4\nSkipping line 3384658: expected 2 fields, saw 3\nSkipping line 3385320: expected 2 fields, saw 3\n'
b'Skipping line 3462555: expected 2 fields, saw 3\nSkipping line 3593032: expected 2 fields, saw 5\n'
b'Skipping line 3736407: expected 2 fields, saw 3\n'
b'Skipping line 4071556: expected 2 fields, saw 3\nSkipping line 4107869: expected 2 fields, saw 3\nSkipping line 4132993: expected 2 fields, saw 4\n'
b'Skipping line 4294469: expected 2 fields, saw 3\nSkipping line 4316573: expected 2 fields, saw 3\nSkipping line 4367569: expected 2 fields, saw 6\nSkipping line 4418504: expected 2 fields, saw 3\n'
b'Skipping line 4487480: expected 2 fields, saw 3\n'
b'Skipping line 4837003: expected 2 fields, saw 3\nSkipping line 4837016: expected 2 fields, saw 5\nSkipping line 4837017: expected 2 fields, saw 6\nSkipping line 4920702: expected 2 fields, saw 3\n'
b'Skipping line 5087166: expected 2 fields, saw 4\nSkipping line 5199417: expected 2 fields, saw 4\n'
b'Skipping line 5252115: expected 2 fields, saw 3\nSkipping line 5295734: expected 2 fields, saw 3\nSkipping line 5358397: expected 2 fields, saw 4\nSkipping line 5385622: expected 2 fields, saw 4\nSkipping line 5422947: expected 2 fields, saw 3\nSkipping line 5496215: expected 2 fields, saw 3\n'
b'Skipping line 5571355: expected 2 fields, saw 3\nSkipping line 5589553: expected 2 fields, saw 3\nSkipping line 5697721: expected 2 fields, saw 4\nSkipping line 5717315: expected 2 fields, saw 3\nSkipping line 5721242: expected 2 fields, saw 3\nSkipping line 5747943: expected 2 fields, saw 13\n'
b'Skipping line 5816646: expected 2 fields, saw 3\nSkipping line 5816647: expected 2 fields, saw 3\nSkipping line 5917698: expected 2 fields, saw 3\nSkipping line 5959404: expected 2 fields, saw 4\nSkipping line 5959407: expected 2 fields, saw 4\nSkipping line 6000570: expected 2 fields, saw 3\nSkipping line 6027401: expected 2 fields, saw 3\n'
b'Skipping line 6100141: expected 2 fields, saw 3\nSkipping line 6100151: expected 2 fields, saw 3\nSkipping line 6166171: expected 2 fields, saw 3\nSkipping line 6166172: expected 2 fields, saw 3\n'
b'Skipping line 6346546: expected 2 fields, saw 3\nSkipping line 6422989: expected 2 fields, saw 3\nSkipping line 6505456: expected 2 fields, saw 3\n'
b'Skipping line 6596046: expected 2 fields, saw 3\nSkipping line 6649565: expected 2 fields, saw 3\nSkipping line 6673820: expected 2 fields, saw 4\nSkipping line 6674956: expected 2 fields, saw 3\nSkipping line 6771610: expected 2 fields, saw 4\n'
b'Skipping line 6925774: expected 2 fields, saw 3\nSkipping line 6935105: expected 2 fields, saw 5\nSkipping line 6975703: expected 2 fields, saw 4\n'
b'Skipping line 7168885: expected 2 fields, saw 6\nSkipping line 7277023: expected 2 fields, saw 4\n'
b'Skipping line 7476850: expected 2 fields, saw 3\n'
b'Skipping line 7804597: expected 2 fields, saw 3\n'
b'Skipping line 7940481: expected 2 fields, saw 3\n'
b'Skipping line 8271846: expected 2 fields, saw 4\n'

In [17]:
facesUrl.head()

     FaceID                                                URL
0  m.0107_f  http://getbeatmadrid.files.wordpress.com/2013/...
1  m.0107_f  http://1.bp.blogspot.com/-HNFIL7eKdNs/TxnlvZvi...
2  m.0107_f  http://www.magicalex.cz/wp-content/gallery/kou...
3  m.0107_f  http://2.bp.blogspot.com/_71dhc6LM1i4/SBSPDqHt...
4  m.0107_f  http://www.magicalex.cz/wp-content/uploads/201...

In [31]:
joined = pd.merge(facesUrl, filtered, left_on='FaceID', right_on='Id')
joined.drop(columns=['Language','Id'], inplace=True)

In [36]:
pd.DataFrame(joined['FaceID'].unique()).to_csv('ids.csv')